@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  cursor: default;
}

a {
  text-decoration: underline;
  color: currentColor;
  outline: none;
}

.wrapper {
  height: 100%;
  margin: 0 5%;
  transition: color 0.5s ease-in, background-color 0.2s ease-in;
}

@media screen and (min-width: 1100px) {
  .wrapper {
    width: 100rem;
    margin: 0 auto;
  }
}
body {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 300;
  line-height: 1.5;
  color: #202124;
  background-color: #f1e9e9;
  font-size: 1.6rem;
  transition: color 0.5s ease-in, background-color 0.2s ease-in;
}

.dark {
  background-color: #202124;
  color: #f1e9e9;
}

.dark-bulb {
  color: #ecec1a;
}

.dark-pres {
  background-color: #202124 !important;
  border: 1px solid #ecec1a !important;
}

.dark-links {
  border: 2px solid #ecec1a !important;
  color: #ecec1a !important;
}

.switch__light {
  border: 1px solid #202124;
  background-color: transparent;
  margin-top: 2rem;
  border-radius: 100px;
  cursor: pointer;
  padding: 1rem 1.2rem;
}
.switch__lang__fr, .switch__lang__en, .switch__lang__es {
  border: 1px solid #202124;
  background-color: #202124;
  color: #f1e9e9;
  margin-top: 2rem;
  margin-left: 1rem;
  border-radius: 100px;
  cursor: pointer;
  padding: 1rem 1rem;
  transform: rotate(-360deg);
  transition: transform 0.2s ease;
}

.yellow-border {
  border: 1px solid #ecec1a;
}

.white-border {
  border: 1px solid #f1e9e9;
  color: #f1e9e9;
}

.selected {
  font-weight: 700;
  transform: rotate(0deg) scale(1.2);
}

header {
  transition: all 0.1s ease;
}

@media screen and (max-width: 900px) {
  .header {
    display: flex;
    justify-content: center;
  }
}
main {
  display: flex;
  flex-direction: column;
  transition: all 0.1s ease;
}

.copy-message {
  width: 90%;
  display: block;
  height: 0;
  opacity: 0;
  background-color: coral;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  transition: opacity 0.1s ease;
}

.resume-message {
  position: absolute;
  top: 4rem;
  left: -2rem;
  opacity: 0;
  height: 5rem;
  background-color: coral;
  border-radius: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
  color: rgba(252, 240, 240, 0.952);
  transition: opacity 0.1s ease;
}

.resume-icon:hover ~ .resume-message {
  opacity: 1;
}

.top {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
}

.occupation {
  display: flex;
  justify-content: flex-start;
  flex-basis: 49%;
  margin-left: 1%;
  margin-top: 2rem;
  background-color: transparent;
  border: 1px solid #202124;
  border-radius: 10px;
  padding: 1rem;
  transition: background-color 0.25s ease-in;
}
.occupation__top {
  margin-top: 2rem;
  width: 100%;
}
.occupation__top h1 {
  font-size: 3.5rem;
}
.occupation__top__stack {
  margin: 2rem 0.5rem 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.occupation__top__stack__row {
  width: 75%;
  display: flex;
}
.occupation__top__stack__row:first-child {
  margin-bottom: 3rem;
  justify-content: space-between;
}
.occupation__top__stack__row:last-child {
  justify-content: space-evenly;
}
.occupation__linkOC {
  transition: color 0.5s ease-in;
}
.occupation__linkProgr {
  transition: color 0.5s ease-in;
}

.presentation {
  flex-basis: 49%;
  margin-right: 1%;
  margin-top: 2rem;
  background-color: transparent;
  border: 1px solid #202124;
  border-radius: 10px;
  padding: 1rem;
  transition: background-color 0.25s ease-in;
}
.presentation__link {
  transition: color 0.5s ease-in;
}
.presentation__top {
  display: flex;
  align-items: center;
}
.presentation__top__left__photo {
  width: 15rem;
  height: 15rem;
  border-radius: 100px;
  object-fit: cover;
  object-position: top;
}
.presentation__top__right__name {
  font-size: 3.5rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  line-height: 0.8;
}
.presentation__top__right__tagline {
  margin-left: 1rem;
  font-style: italic;
  line-height: 1.2;
}
.presentation__description {
  margin: 1rem 1rem 0 1rem;
  text-align: justify;
  text-justify: inter-word;
}
.presentation__social {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
}
.presentation__social a {
  margin-left: 2rem;
  color: currentColor;
}
.presentation__social a:first-child {
  margin-left: 1rem;
}
.presentation__social__mail {
  margin-left: 2rem;
  cursor: pointer;
}

.contact {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  justify-content: center;
  width: 37.5%;
  max-width: 75rem;
  left: 31.25%;
  top: 20%;
  padding: 2rem;
}
.contact__form {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  width: 90%;
}
.contact__form label {
  margin-top: 1rem;
  color: aliceblue;
}
.contact__form__close {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  background-color: transparent;
  border: none;
  color: aliceblue;
  cursor: pointer;
}
.contact__form__email {
  height: 2.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: rgba(240, 248, 255, 0.8);
}
.contact__form__message {
  height: 20rem;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: rgba(240, 248, 255, 0.8);
}
.contact__form__button {
  cursor: pointer;
  margin-top: 1rem;
  width: 10rem;
  background-color: rgba(240, 248, 255, 0.8);
  border: none;
  font-weight: 900;
  border-radius: 5px;
  padding: 0.5rem;
}
.contact__form__status {
  margin-top: 1rem;
}

.invalid {
  opacity: 0.8;
  color: crimson;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 0.25rem;
}

.valid {
  color: aquamarine;
}

.valid-field {
  border: 2px aquamarine solid;
}

.invalid-field {
  border: 2px tomato solid;
}

.error-message__email, .error-message__message {
  display: none;
  color: tomato;
}

.success-message__email {
  display: none;
  position: absolute;
  top: 5.5rem;
  right: 10%;
}

.projects {
  margin: 2rem 0;
  background-color: transparent;
  border: 1px solid #202124;
  border-radius: 10px;
  padding: 1rem;
  width: 100%;
  transition: background-color 0.25s ease-in;
}
.projects__title {
  margin: 0 0 1rem 1rem;
}
.projects__elements {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
.projects__elements__item {
  height: 45rem;
  display: flex;
  align-items: center;
  flex-basis: 30%;
  flex-direction: column;
  margin: 1rem;
}
.projects__elements__item__description {
  height: auto;
  text-align: center;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.projects__elements__item__techno {
  text-align: center;
  height: auto;
  font-weight: 700;
  margin-bottom: 1rem;
}
.projects__elements__item__title {
  height: 4rem;
}
.projects__elements__item__link {
  border: 2px solid currentColor;
  border-radius: 3rem;
  color: #202124;
  overflow: hidden;
  padding: 0 1rem;
  position: relative;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
  margin-bottom: 0.5rem;
}
.projects__elements__item__link::after {
  background-color: #202124;
  border-radius: 3rem;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}
.projects__elements__item__link:hover::after {
  transform: translate(0, 0);
}
.projects__elements__item__link:hover {
  border: 2px solid #202124;
  color: #f1e9e9;
  will-change: transform;
}
.projects__elements__item__image {
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  margin-bottom: 1rem;
  transition: transform 0.2s ease;
}
.projects__elements__item__image:hover {
  transform: scale(1.1);
}
.projects__elements__item__image img {
  border: 2px solid #f1e9e9;
  border-radius: 100px;
  height: 20rem;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

footer {
  transition: all 0.1s ease;
}

.dark .occupation__linkOC {
  color: #ecec1a;
}

.dark .occupation__linkProgr {
  color: #ecec1a;
}

.dark .projects__elements__item__link {
  color: #ecec1a;
  border: 2px solid #ecec1a;
}

.dark .projects__elements__item__link:after {
  background-color: #ecec1a;
}

.dark .projects__elements__item__link:hover {
  color: #202124;
}

@media screen and (max-width: 900px) {
  .occupation,
.presentation {
    flex-basis: 100%;
  }

  .occupation__top {
    margin-top: 0;
  }

  .success-message__email {
    right: 15%;
  }
}
@media screen and (max-width: 550px) {
  .projects__elements__item {
    flex-basis: 100%;
    height: auto;
  }
}
@media screen and (max-width: 450px) {
  .presentation__top {
    flex-direction: column;
    justify-content: center;
  }

  .presentation__top__right {
    text-align: center;
    margin-bottom: 1rem;
  }

  .presentation__social {
    width: 100%;
    justify-content: center;
  }
  .presentation__social a:first-child {
    margin-left: 0;
  }

  .contact {
    width: 90%;
    left: 5%;
  }

  .success-message__email {
    right: 15%;
  }
}

/*# sourceMappingURL=style.css.map */
