main {
  display: flex;
  flex-direction: column;
  transition: all 0.1s ease;
}
.copy-message {
  width: 90%;
  display: block;
  height: 0;
  opacity: 0;
  background-color: coral;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  transition: opacity 0.1s ease;
}

.resume-message {
  position: absolute;
  top: 4rem;
  left: -2rem;
  opacity: 0;
  height: 5rem;
  background-color: coral;
  border-radius: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
  color: rgba(252, 240, 240, 0.952);
  transition: opacity .1s ease;
}

.resume-icon:hover ~ .resume-message {
  opacity: 1;
}

.top {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
}
.occupation {
  display: flex;
  justify-content:flex-start;
  flex-basis: 49%;
  margin-left: 1%;
  margin-top: 2rem;
  background-color: transparent;
  border: 1px solid $dark;
  border-radius: 10px;
  padding: 1rem;
  transition: background-color 0.25s ease-in;
  &__top {
    margin-top: 2rem;
    width: 100%;
    h1 {font-size: 3.5rem;}

    &__stack {
      margin: 2rem 0.5rem 0 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__row {
        width: 75%;
        display: flex;
        &:first-child { 
          margin-bottom: 3rem;
          justify-content: space-between;
        }
        &:last-child {
          justify-content: space-evenly;
         }
      }
    }
  }
  &__linkOC {
    transition: color 0.5s ease-in;
  }
  &__linkProgr {
    transition: color 0.5s ease-in;
  }
}
.presentation {
  flex-basis: 49%;
  margin-right: 1%;
  margin-top: 2rem;
  background-color: transparent;
  border: 1px solid $dark;
  border-radius: 10px;
  padding: 1rem;
  transition: background-color 0.25s ease-in;

  &__link {
    transition: color 0.5s ease-in;
  }

  &__top {
    display: flex;
    //flex-wrap: wrap;
    align-items: center;

    &__left {
      &__photo {
        width: 15rem;
        height: 15rem;
        border-radius: 100px;
        object-fit: cover;
        object-position: top;
      }
    }
    &__right {
      &__name {
        font-size: 3.5rem;
        margin-left: 1rem;
        margin-bottom: 0.5rem;
        line-height: 0.8;
      }
      &__tagline {
        margin-left: 1rem;
        font-style: italic;
        line-height: 1.2;
      }
    }
  }
  &__description {
    margin: 1rem 1rem 0 1rem;
    text-align: justify;
    text-justify: inter-word;
  }
  &__social {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
    a {
      margin-left: 2rem;
      color: currentColor;
    }
    a:first-child {
      margin-left: 1rem;
    }

    &__mail {
      margin-left: 2rem;
      cursor: pointer;
    }
  }
}

.contact {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  justify-content: center;
  width: 37.5%;
  left: 31.25%;
  top: 20%;
  padding: 2rem;
  z-index: 10;
  &__form {
    display: flex;
    flex-direction: column;
    color: aliceblue;
    width: 50rem;
    label{margin-top: 1rem;color: aliceblue;}
    &__close {
      position: absolute;
      right: 1rem;
      top: 0.5rem;
      background-color: transparent;
      border: none;
      color: aliceblue;
      cursor: pointer;
    }
    &__email {
      height: 2.5rem;
      border-radius: 5px;
      border: none;
      outline: none;
      background-color: rgba(240, 248, 255, 0.8);
    }
    &__message {
      height: 20rem;
      border-radius: 5px;
      border: none;
      outline: none;
      background-color: rgba(240, 248, 255, 0.8);
    }
    &__button {
      cursor: pointer;
      margin-top: 1rem;
      width: 10rem;
      background-color: rgba(240, 248, 255, 0.8);
      border: none;
      font-weight: 900;
      border-radius: 5px;
      padding: 0.5rem;
    }
    &__status {
      margin-top: 1rem;
    }
  }
}

.invalid {
  opacity: 0.8;
  color:crimson;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 0.25rem;
}
.valid {
  color: aquamarine;
}

.valid-field {
  border: 2px aquamarine solid;
}
.invalid-field {
  border: 2px tomato solid;
}

.error-message__email, .error-message__message {
  display: none;
  color: tomato;
}
.success-message__email {
  display: none;
  position: absolute;
  top: 5.5rem;
  right: 3rem;
}

.projects {
  margin: 2rem 0;
  background-color: transparent;
  border: 1px solid $dark;
  border-radius: 10px;
  padding: 1rem;
  width: 100%;
  transition: background-color 0.25s ease-in;

  &__title {
    margin: 0 0 1rem 1rem;
  }

  &__elements {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;

    &__item {
      height: 45rem;
      display: flex;
      align-items: center;
      flex-basis: 30%;
      flex-direction: column;
      margin: 1rem;

      &__description {
        height: auto;
        text-align: center;
        font-style: italic;
        line-height: 1.5;
        margin-bottom: 1rem;
      }

      &__techno {
        text-align: center;
        height: auto;
        font-weight: 700;
        margin-bottom: 1rem;
      }

      &__title {
        height: 4rem;
      }

      &__link {
        border: 2px solid currentColor;
        border-radius: 3rem;
        color: $dark;
        overflow: hidden;
        padding: 0 1rem;
        position: relative;
        text-decoration: none;
        transition: 0.2s transform ease-in-out;
        will-change: transform;
        z-index: 0;
        margin-bottom: 0.5rem;

        &::after {
          background-color: $dark;
          border-radius: 3rem;
          content: '';
          display: block;
          height: 100%;
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
          transform: translate(-100%, 0) rotate(10deg);
          transform-origin: top left;
          transition: 0.2s transform ease-out;
          will-change: transform;
          z-index: -1;
        }
        &:hover::after {
          transform: translate(0, 0);
        }

        &:hover {
          border: 2px solid $dark;
          color: $light;
          will-change: transform;
        }
      }

      &__image {
        width: 20rem;
        height: 20rem;
        overflow: hidden;
        margin-bottom: 1rem;
        transition: transform 0.2s ease;
        &:hover {
          transform: scale(1.1);
        }

        img {
          border: 2px solid $light;
          border-radius: 100px;
          height: 20rem;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}

footer { 
  transition: all 0.1s ease;
}

.dark .occupation__linkOC {
  color: $yellow;
}
.dark .occupation__linkProgr {
  color: $yellow;
}
.dark .projects__elements__item__link {
  color: $yellow;
  border: 2px solid $yellow;
}
.dark .projects__elements__item__link:after {
  background-color: $yellow;
}
.dark .projects__elements__item__link:hover {
  color: $dark;
}

@media screen and (max-width: 900px) {
  .occupation,
  .presentation {
    flex-basis: 100%;
  }
  .occupation__top {
    margin-top: 0;
  }
}
@media screen and (max-width: 550px) {
  .projects__elements__item {
    flex-basis: 100%;
    height: auto;
  }
}

@media screen and (max-width: 450px) {
  .presentation__top {
    flex-direction: column;
    justify-content: center;
  }
  .presentation__top__right {
    text-align: center;
    margin-bottom: 1rem;
  }
  .presentation__social {
    width: 100%;
    justify-content: center;
    & a:first-child {
      margin-left: 0;
    }
  }
  .contact {
    width: 90%;
    left: 5%;
  }
}
