main {
  display: flex;
  flex-direction: column;
}
.copy-message {
  width: 90%;
  display: block;
  height: 0;
  opacity: 0;
  background-color: coral;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  transition: opacity 0.1s ease;
}
.top {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
}
.occupation {
  flex-basis: 49%;
  margin-left: 1%;
  margin-top: 2rem;
  background-color: transparent;
  border: 1px solid $dark;
  border-radius: 10px;
  padding: 1rem;
  transition: background-color 0.25s ease-in;
  &__top {
    margin-top: 3rem;
  }
  &__linkOC {
    transition: color 0.5s ease-in;
  }
  &__linkProgr {
    transition: color 0.5s ease-in;
  }
}
.presentation {
  flex-basis: 49%;
  margin-right: 1%;
  margin-top: 2rem;
  background-color: transparent;
  border: 1px solid $dark;
  border-radius: 10px;
  padding: 1rem;
  transition: background-color 0.25s ease-in;

  &__link {
    transition: color 0.5s ease-in;
  }

  &__top {
    display: flex;
    //flex-wrap: wrap;
    align-items: center;

    &__left {
      &__photo {
        width: 15rem;
        height: 15rem;
        border-radius: 100px;
        object-fit: cover;
      }
    }
    &__right {
      &__name {
        font-size: 3rem;
        margin-left: 1rem;
        margin-bottom: 0.5rem;
        line-height: 0.8;
      }
      &__tagline {
        margin-left: 1rem;
        font-style: italic;
        line-height: 1.2;
      }
    }
  }
  &__description {
    margin-left: 1rem;
  }
  &__social {
    // margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
    a {
      margin-left: 2rem;
      color: currentColor;
    }
    a:first-child {
      margin-left: 1rem;
    }

    &__mail {
      cursor: pointer;
    }
  }
}

.projects {
  margin: 2rem 0;
  background-color: transparent;
  border: 1px solid $dark;
  border-radius: 10px;
  padding: 1rem;
  width: 100%;
  transition: background-color 0.25s ease-in;

  &__title {
    margin: 0 0 1rem 1rem;
  }

  &__elements {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;

    &__item {
      height: 50rem;
      display: flex;
      align-items: center;
      flex-basis: 30%;
      flex-direction: column;
      margin: 1rem;
      //border-radius: 15px;
      //border: 1px solid black;
      //box-shadow: 0.2rem 0.8rem 1rem rgba(0, 0, 0, 0.15);

      &__description {
        height: auto;
        text-align: center;
        font-style: italic;
        line-height: 1.5;
        margin-bottom: 1rem;
      }

      &__techno {
        text-align: center;
        height: auto;
        font-weight: 700;
        margin-bottom: 1rem;
      }

      &__title {
        height: 4rem;
      }

      &__link {
        border: 2px solid currentColor;
        border-radius: 3rem;
        color: $dark;
        overflow: hidden;
        padding: 0 1rem;
        position: relative;
        text-decoration: none;
        transition: 0.2s transform ease-in-out;
        will-change: transform;
        z-index: 0;
        margin-bottom: 0.5rem;

        &::after {
          background-color: $dark;
          border-radius: 3rem;
          content: '';
          display: block;
          height: 100%;
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
          transform: translate(-100%, 0) rotate(10deg);
          transform-origin: top left;
          transition: 0.2s transform ease-out;
          will-change: transform;
          z-index: -1;
        }
        &:hover::after {
          transform: translate(0, 0);
        }

        &:hover {
          border: 2px solid $dark;
          color: $light;
          will-change: transform;
        }
      }

      &__image {
        width: 20rem;
        height: 20rem;
        overflow: hidden;
        margin-bottom: 1rem;

        img {
          border: 2px solid $light;
          border-radius: 100px;
          height: 20rem;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}

.dark .occupation__linkOC {
  color: $yellow;
}
.dark .occupation__linkProgr {
  color: $yellow;
}
.dark .projects__elements__item__link {
  color: $yellow;
  border: 2px solid $yellow;
}
.dark .projects__elements__item__link:after {
  background-color: $yellow;
}
.dark .projects__elements__item__link:hover {
  color: $dark;
}

@media screen and (max-width: 900px) {
  .occupation,
  .presentation {
    flex-basis: 100%;
  }
}
