*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //pour definir la valeur de 1rem : on veut 1rem = 10px, soit 10px / 16px = 62.5 (16px est la taille par default sur les navigateur)
}

body {
  box-sizing: border-box;
  cursor: default;
}

a {
  text-decoration: underline;
  color: currentColor;
  outline: none;
}

.wrapper {
  margin: 0 5%;
  transition: color 0.5s ease-in, background-color 0.2s ease-in;
}

@media screen and (min-width: 1100px) {
  .wrapper {
    margin: 0 15%;
  }
}
