.dark {
  background-color: #000;
  color: #fff;
}
.dark-bulb {
  color: #ffff00;
}
.dark-link {
  color: #ffff00;
}
.dark-pres {
  background-color: #000000 !important;
  border: 1px solid #ffff00 !important;
}
.dark-links {
  border: 2px solid #ffff00 !important;
  color: #ffff00 !important;
}
