.dark {
  background-color: $dark;
  color: $light;
}
.dark-bulb {
  color: $yellow;
}

.dark-pres {
  background-color: $dark !important;
  border: 1px solid $yellow !important;
}
.dark-links {
  border: 2px solid $yellow !important;
  color: $yellow !important;
}
