body {
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 300;
  line-height: 2;
  color: #000;
  background-color: #fff;
  font-size: 1.6rem;
  transition: color 0.5s ease-in, background-color 0.2s ease-in;
}
